{% extends "base.html" %}
{% block title %}Cologne Page{% endblock %}
{% block content %}
<style>
  .browse {
    text-align: left;
    font-size: 28px;
    margin-top: 40px;
    font-weight: bold;

  }
  .browse-perfumes {
    color: black;
    display: inline;
    font-weight: bold;
    text-decoration: none;
  }
  .name {
    font-size: 18px;
  }
  .brand {
    font-size: 14px;
    font-weight: bold;
  }
  .cologne-container {
    display: flex;
    flex-wrap: wrap;
  }

  .cologne {
    width: 320px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 239, 233, 1);
  }

  .cologne img {
    margin-right: auto;
    margin-left: auto;
  }

  .note-image {
    margin-right: 10px;
  }
  .note {
    font-size: 12px;
  }

  .buy {
  background-color: black;
  color: white;
  height: 35px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  }

  .note-item {
    display: inline-block;
    margin-right: 10px;
  }

  .star-review {
    display: flex;
    margin-bottom: 10px;
  }

  .star-review img {
    height: 18px;
  }
</style>

<h1 class="browse">BROWSE <a href ="/product/perfume"><div class = "browse-perfumes">PERFUMES</div></a> OR COLOGNES </h1>
<div class="cologne-container">
  {% for product in products %}
  <div class="cologne">
    <a href="{{ url_for('product.cologne_detail_page', product_id=product.id) }}">
      <img src="{{ url_for('static', filename=(product.brand + '_' + product.name + '.jpg')|lower|replace(' ','_')) }}" alt="Cologne Image">
    </a>
    <h3 class="name">{{ product.name }}</h3>
    <p class="brand">{{ product.brand }}</p>
    
    <div class = "star-review">
      {% for _ in range (product.rating|int) %}
      <span><img src="{{ url_for('static', filename='star.png') }}" alt="Filled Star"></span>
      {% endfor %}

      {% for _ in range (5-product.rating|int) %}
        <span><img src="{{ url_for('static', filename='unstar.png') }}" alt="Unfilled Star"></span>
      {% endfor %}
    </div>
  
    <div class="notes-container">
      {% for product_note in product.product_notes %}
        {% for note in notes %}
          {% if product_note.note_id == note.note_id %}
            <div class="note-item">
              <img class="note-image" src="{{ url_for('static', filename=note.note_name.strip() + '.jpg') }}" alt="{{ note.note_name.strip() }}">
              <p class="note">{{ note.note_name }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <a href="{{ url_for('product.cologne_detail_page', product_id=product.id) }}">
    <button class="buy">EXPLORE</button>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock %}
