{% extends "base.html" %}

{% block title %}Cologne Page{% endblock %}

{%block content %} 
<style>
.cologne-container {
  display: flex;
  flex-wrap: wrap;
  
}

.cologne {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(247, 239, 233, 1);
}

.cologne img {
  margin-right: auto;
  margin-left: auto;
  
}
.note-images-container {
  display: flex;
}

.note-image {
  margin-right: 10px;
}

.buy{
        margin-top: 20px;
    }

</style>

<h1>{{ brand }} </h1>
<div class="cologne-container">
{% for product in products %}


<div class="cologne">
  <a href="{{ url_for('product.cologne_detail_page', product_id=product.id) }}">
  <img src="{{ url_for('static', filename=(product.brand + '_' + product.name + '.jpg')|lower|replace(' ','_')) }}" alt="Cologne Image">
  </a>

  <h3 class="brand">{{ product.brand }}</h3>
  <p class="name">{{ product.name }}</p>
  <p class="price">Price: ${{ product.price }}</p>
  <div class="note-images-container">
  {% set product_notes = product.notes.replace(' ', '').split(',') %}
  {% for note in product_notes %}
  <img class="note-image" src="{{ url_for('static', filename=note.strip() + '.jpg') }}" alt="{{ note.strip() }}">
  {% endfor %}
  </div>
  <button class="buy">Buy Now</button>
</div>

{% endfor %}
</div>
{% endblock %}