{% extends "base.html" %}
{% block title %}Perfume Page{% endblock %}
{% block content %}
<style>
  .perfume-container {
    display: flex;
    flex-wrap: wrap;
  }
  .perfume {
    width: 320px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(247, 239, 233, 1);
  }
  .perfume img {
    margin-right: auto;
    margin-left: auto;
  }
  .note-image {
    margin-right: 10px;
  }

  .buy {
  background-color: black;
  color: white;
  height: 35px;
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  }
  
  .note-item {
    display: inline-block;
    margin-right: 10px;
  }
</style>

<h1>Browse Our Perfume</h1>
<div class="perfume-container">
  {% for product in products %}
  <div class="perfume">
    <a href="{{ url_for('product.perfume_detail_page', product_id=product.id) }}">
      <img src="{{ url_for('static', filename=(product.brand + '_' + product.name + '.jpg')|lower|replace(' ','_')) }}" alt="Perfume Image">
    </a>
    <h3 class="brand">{{ product.brand }}</h3>
    <p class="name">{{ product.name }}</p>
    <p class="price">Price: ${{ product.price }}</p>
    <div class="notes-container">
      {% for product_note in product.product_notes %}
        {% for note in notes %}
          {% if product_note.note_id == note.note_id %}
            <div class="note-item">
              <img class="note-image" src="{{ url_for('static', filename=note.note_name.strip() + '.jpg') }}" alt="{{ note.note_name.strip() }}">
              <p class="note">{{ note.note_name }}</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <button class="buy">EXPLORE</button>
  </div>
  {% endfor %}
</div>
{% endblock %}
